<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/material-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body style="background: var(--dark);">
    <div class="container" style="margin: 0px;padding: 0px;">
        <div class="row">
            <div class="col">
                <div class="card shadow-lg" style="background-color: var(--surface-dark);color: var(--surface-light);height: 100vh;width: 100vw;">
                    <div class="card-header" style="background-color: var(--01dp);box-shadow: 0px 3px 5px var(--surface-dark);">
                        <div class="row">
                            <div class="col-1"><button class="btn disabled" type="button" disabled="" style="color: var(--surface-light);font-size: 2rem;height: 100%;outline: none;user-select: none;width: 100%;"><i class="fa fa-user-circle"></i></button></div>
                            <div class="col-11 align-self-center">
                                <div class="container-fluid">
                                    <h1>Persona</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="overflow: auto;" id="chatBubbles">
                    </div>
                    <div class="card-footer" style="background-color: var(--01dp);box-shadow: 0px 3x 5px var(--surface-dark);">
                        <div class="form-row">
                            <div class="col align-self-center"><textarea class="form-control" placeholder="Enter a message" name="q" autofocus id="textareaChat"></textarea></div>
                            <div class="col-1"><button class="btn" id="buttonSubmit"><i class="material-icons">send</i></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script>
        let query = document.querySelector("#textareaChat");
        let sendButton = document.getElementById("buttonSubmit");
        sendButton.onclick = function() {
            $.get(('/chat?q=' + query.value), function(data) {
                document.getElementById("chatBubbles").innerHTML += data;
                document.getElementById("textareaChat").value = "";
            });
        };
    </script>
</body>

</html>